<div class="footer">
  <ul class="nav nav-pills pull-right">
		<div id="task-form" style="display:none;"></div>
  </ul>
  <small>
		This apprication needs your feedbacks.
		<%= link_to "New", new_comment_path, remote: true %>    
  </small>
</div><br>
